<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TeacherMapper">

    <sql id="insertFields">
        teacher_id, name, user_id, sex, phone_number
    </sql>

    <sql id="selectFields">
        teacher_id, name, user_id, sex, phone_number
    </sql>

    <select id="selectByTeacherId" resultType="Teacher">
        select <include refid="selectFields"></include>
        from teacher
        where teacher_id = #{teacherId}
    </select>

    <insert id="insertTeacher" parameterType="Teacher">
        insert into teacher (<include refid="insertFields"></include>)
        values(#{teacherId}, #{name}, #{id}, #{sex}, #{phoneNumber})
    </insert>

</mapper>